.profile-badge {
  position: relative;
}
.indicator {
  position: absolute;
  bottom: 3px;
  right: 4px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid var(--white);
  background-color: var(--success-color);
}
.online {
  background-color: var(--success-color);
}
.offline {
  background-color: var(--gray);
}
.do-not-disturb {
  background-color: var(--danger-color);
}

.number-badge{
    position: relative;
    
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    top : -2px;
    right: -4px;
    position: absolute;
    font-size: 0.6rem;
    font-weight: 900;
    height: 18px;
    width: 18px;
    border: none;
}