<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="../../shared/layout.css">
    <link rel="stylesheet" href="./slider.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Slider</title>
</head>

<body>
    <div class="wrapper" id="wrapper">
        <header>
            <nav class="navbar">
                <div class="nav-left">
                    <a class="logo-text" href="../../index.html">Instant UI</a>
                    <span class="version">v1.0</span>
                </div>
                <ul class="nav-right">
                    <li class="nav-right-list-items">
                        <a class="nav-right-list-item" href="https://github.com/SubhamChoudhury/instantUI">Docs</a>
                    </li>
                    <li class="nav-right-list-items">
                        <a class="nav-right-list-item" href="https://github.com/SubhamChoudhury"><img src="../../assets/GitHub.svg" /></a>
                    </li>
                </ul>
            </nav>
        </header>
        <aside class="sidebar close">
            <header class='menu-header'>
                <i class="fas fa-chevron-circle-right toggle"></i>
                <div class="text component-text">
                    <span class="sidebar-menu-name">How to use?</span>
                </div>
                <div class="menu-bar">
                    <div class="menu">
                        <ul class="menu-links">
                            <li class="sidebar-link">
                                <a class="sidebar-link-item" href="/getting started/introduction.html">
                                    <i class="fas fa-question-circle icon"></i>
                                    <span class="text nav-text">Installation</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text component-text">
                    <span class="sidebar-menu-name">Components</span>
                </div>
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="sidebar-link ">
                            <a class="sidebar-link-item" href="../alert/alert.html">
                                <i class="fas fa-exclamation-triangle icon "></i>
                                <span class="text nav-text">Alert</span>
                            </a>
                        </li>
                        <li class="sidebar-link ">
                            <a class="sidebar-link-item" href="../avatar/avatar.html">
                                <i class="fas fa-user-astronaut icon "></i>
                                <span class="text nav-text ">Avatar</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../badges/badges.html">
                                <i class="fas fa-id-badge icon"></i>
                                <span class="text nav-text">Badge</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../button/button.html">
                                <i class="fas fa-mouse icon"></i>
                                <span class="text nav-text">Button</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../card/card.html">
                                <i class="fas fa-address-card icon"></i>
                                <span class="text nav-text">Card</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../image/image.html">
                                <i class="far fa-image icon"></i>
                                <span class="text nav-text ">Image</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../input/input.html">
                                <i class="fas fa-keyboard icon"></i>
                                <span class="text nav-text">Input</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../list/list.html">
                                <i class="far fa-list-alt icon"></i>
                                <span class="text nav-text">List</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../rating/rating.html">
                                <i class="fas fa-star icon"></i>
                                <span class="text nav-text">Rating</span>
                            </a>
                        </li>
                        <li class="sidebar-link active">
                            <a class="sidebar-link-item" href="../slider/slider.html">
                                <i class="fas fa-sliders-h icon active"></i>
                                <span class="text nav-text active-text">Slider</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <main>
            <!--Slider component starts-->
            <section class="home">
                <div class="doc-content">
                    <div class="content-title">
                        Slider
                    </div>
                    <div class="content-subtitle">
                        Sliders allow users to make selections from a range of values in various places like sound,
                        price, etc. </div>
                    <div class="content-subhead">
                        General Slider
                    </div>
                    <div class="component-container">
                        <input type="range" name="" class="slider" min="0" max="100" />
                    </div>
                    <div class="iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=18px&ph=15px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cinput%2520type%253D%2522range%2522%2520name%253D%2522%2522%2520class%253D%2522slider%2522%2520min%253D%25220%2522%2520max%253D%2522100%2522%2520%252F%253E"
                            style="width: 100%; height: 130px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                    <div class="separator"></div>
                    <!--Slider with icon-->
                    <div class="content-subhead">
                        Slider with Icons
                    </div>
                    <div class="component-container">
                        <div class="icon-slider">
                            <i class="fas fa-volume-up slider-icon"></i>
                            <input type="range" name="" class="slider" min="0" max="100" />
                        </div>
                    </div>
                    <div class="iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=18px&ph=15px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522icon-slider%2522%253E%250A%2520%253Ci%2520class%253D%2522fas%2520fa-volume-up%2520slider-icon%2522%253E%253C%252Fi%253E%250A%2520%253Cinput%2520type%253D%2522range%2522%2520name%253D%2522%2522%2520class%253D%2522slider%2522%2520min%253D%25220%2522%2520max%253D%2522100%2522%2520%252F%253E%250A%253C%252Fdiv%253E"
                            style="width: 100%; height: 190px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
            </section>
        </main>
    <script>
        const body = document.querySelector('body'),
            sidebar = document.querySelector('aside'),
            toggle = document.querySelector(".toggle"),
            activeIcon = document.querySelector(".icon")
        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
    </script>
</body>
</html>