<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/shared/layout.css" />
    <link rel="stylesheet" href="./text-utilities.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Text Utilities</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar">
                <div class="nav-left">
                    <a class="logo-text" href="/index.html">Instant UI</a>
                    <span class="version">v1.0</span>
                </div>
                <ul class="nav-right">
                    <li class="nav-right-list-items">
                        <a class="nav-right-list-item" href="https://github.com/SubhamChoudhury/instantUI">Docs</a>
                    </li>
                    <li class="nav-right-list-items">
                        <a class="nav-right-list-item" href="https://github.com/SubhamChoudhury"><img
                                src="/assets/GitHub.svg" /></a>
                    </li>
                </ul>
            </nav>
        </header>
        <aside class="sidebar close">
            <header class='menu-header'>
                <i class="fas fa-chevron-circle-right toggle"></i>
                <div class="menu-bar">
                    <div class="menu">
                        <ul class="menu-links">
                            <li class="sidebar-link">
                                <a class="sidebar-link-item" href="/getting started/introduction.html">
                                    <i class="fas fa-question-circle icon"></i>
                                    <span class="text nav-text">Installation</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text component-text">
                    <span class="sidebar-menu-name">Components</span>
                </div>
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/alert/alert.html">
                                <i class="fas fa-exclamation-triangle icon"></i>
                                <span class="text nav-text">Alert</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/avatar/avatar.html">
                                <i class="fas fa-user-astronaut icon "></i>
                                <span class="text nav-text ">Avatar</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/badges/badges.html">
                                <i class="fas fa-id-badge icon"></i>
                                <span class="text nav-text">Badge</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/button/button.html">
                                <i class="fas fa-mouse icon"></i>
                                <span class="text nav-text">Button</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/card/card.html">
                                <i class="fas fa-address-card icon"></i>
                                <span class="text nav-text">Card</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/grid/grid.html">
                                <i class="fas fa-border-all icon"></i>
                                <span class="text nav-text">Grid</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/image/image.html">
                                <i class="far fa-image icon"></i>
                                <span class="text nav-text">Image</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/input/input.html">
                                <i class="fas fa-keyboard icon"></i>
                                <span class="text nav-text">Input</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/list/list.html">
                                <i class="far fa-list-alt icon"></i>
                                <span class="text nav-text">List</span>
                            </a>
                        </li>
                        <li class="sidebar-link ">
                            <a class="sidebar-link-item" href="/components/navigation/navigation.html">
                                <i class="fas fa-compass icon"></i>
                                <span class="text nav-text">Navigation</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/rating/rating.html">
                                <i class="fas fa-star icon"></i>
                                <span class="text nav-text">Rating</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/slider/slider.html">
                                <i class="fas fa-sliders-h icon"></i>
                                <span class="text nav-text">Slider</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/snackbar/snackbar.html">
                                <i class="fas fa-flag icon"></i>
                                <span class="text nav-text">Snackbar</span>
                            </a>
                        </li>
                        <li class="sidebar-link active">
                            <a class="sidebar-link-item" href="/components/text-utilities/text-utilities.html">
                                <i class="fas fa-font icon active"></i>
                                <span class="text nav-text active-text">Text Utilities</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <main>
            <!--Text utilities starts-->
            <section class="home">
                <div class="doc-content">
                    <div class="content-title">
                        Text Utilities
                    </div>
                    <div class="content-subtitle">
                        Text utilities allows the user to control the typograph including headings, paragraph, text
                        color, etc.</div>
                    <div class="separator"></div>
                    <div class="content-subhead">
                        Headings
                    </div>
                    <div class="content-subtitle">
                        All HTML headings h1 to h5 are available
                    </div>
                    <div class="component-container heading-container">
                        <h1 class="type-1">InstantUI h1 heading</h1>
                        <h2 class="type-2">InstantUI h2 heading</h2>
                        <h3 class="type-3">InstantUI h3 heading</h3>
                        <h4 class="type-4">InstantUI h4 heading</h4>
                        <h5 class="type-5">InstantUI h5 heading</h5>
                        <h6 class="type-6">InstantUI h6 heading</h6>
                    </div>
                    <div class="iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=htmlmixed&width=596&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=25px&ph=25px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch1%2520class%253D%2522heading-1%2522%253EInstantUI%2520h1%2520heading%253C%252Fh1%253E%250A%253Ch2%2520class%253D%2522heading-2%2522%253EInstantUI%2520h2%2520heading%253C%252Fh2%253E%250A%253Ch3%2520class%253D%2522heading-3%2522%253EInstantUI%2520h3%2520heading%253C%252Fh3%253E%250A%253Ch4%2520class%253D%2522heading-4%2522%253EInstantUI%2520h4%2520heading%253C%252Fh4%253E%250A%253Ch5%2520class%253D%2522heading-5%2522%253EInstantUI%2520h5%2520heading%253C%252Fh5%253E%250A%253Ch6%2520class%253D%2522heading-6%2522%253EInstantUI%2520h6%2520heading%253C%252Fh6%253E"
                            style="width: 100%; height: 250px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                    <div class="separator"></div>
                    <div class="content-subhead">
                        Text
                    </div>
                    <div class="content-subtitle">
                        There are 5 pre-defined classes for text ,they are as follows
                    </div>
                    <div class="component-container">
                        <p class='type-1'>This is extra large text</p>
                        <p class='type-2'>This is large text</p>
                        <p class='type-3'>This is medium text</p>
                        <p class='type-4'>This is small text</p>
                        <p class='type-5 '>This is extra small text</p>
                    </div>
                    <div class="iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=htmlmixed&width=504&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=25px&ph=25px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%27type-1%27%253EThis%2520is%2520extra%2520large%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%27type-2%27%253EThis%2520is%2520large%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%27type-3%27%253EThis%2520is%2520medium%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%27type-4%27%253EThis%2520is%2520small%2520text%253C%252Fp%253E%250A%253Cp%2520class%253D%27type-5%2520%27%253EThis%2520is%2520extra%2520small%2520text%253C%252Fp%253E"
                            style="width: 100%; height: 230px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                    <div class="separator"></div>
                    <div class="content-subhead">
                        Gray Text
                    </div>
                    <div class="content-subtitle">
                        To use gray text use the class <code>gray</code>
                    </div>
                    <div class="component-container">
                        <h2 class='type-2 gray'>InstantUI h2 heading</h2>
                        <p class='type-3 gray'>This is medium text</p>
                        <h3 class='type-4 gray'>InstantUI h3 heading</h3>
                        <p class='type-5 gray'>This is extra small text</p>
                    </div>
                    <div class="iframe">
                        <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=htmlmixed&width=504&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=25px&ph=25px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ch2%2520class%253D%27type-2%2520gray%27%253EInstantUI%2520h2%2520heading%253C%252Fh2%253E%250A%253Cp%2520class%253D%27type-3%2520gray%27%253EThis%2520is%2520medium%2520text%253C%252Fp%253E%250A%253Ch3%2520class%253D%27type-4%2520gray%27%253EInstantUI%2520h3%2520heading%253C%252Fh3%253E%250A%253Cp%2520class%253D%27type-5%2520gray%27%253EThis%2520is%2520extra%2520small%2520text%253C%252Fp%253E"
                        style="width: 100%; height: 200px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe>
                    </div>
                    <div class="separator"></div>
                    <div class="content-subhead">
                        Center Text
                    </div>
                    <div class="content-subtitle">
                        To cenetr the text, add class <code>text-center</code>
                    </div>
                    <div class="component-container">
                        <p class="text-align">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, a?</p>
                    </div>
                    <div class="iframe">
                        <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=none&l=htmlmixed&width=574&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=25px&ph=25px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-align%2522%253ELorem%2520ipsum%2520dolor%252C%2520sit%2520amet%2520consectetur%2520adipisicing%2520elit.%2520Explicabo%252C%2520a%253F%253C%252Fp%253E"
                        style="width: 100%; height: 180px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe>
                    </div>

            </section>
        </main>
    </div>
    <script src="/script.js"></script>
</body>

</html>