<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/shared/layout.css">
    <link rel="stylesheet" href="/components/button/button.css">
    <link rel="stylesheet" href="./snackbar.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>Snackbar</title>
</head>

<body>
    <div class="wrapper" id="wrapper">
        <header>
            <nav class="navbar">
                <div class="nav-left">
                    <a class="logo-text" href="../../index.html">Instant UI</a>
                    <span class="version">v1.0</span>
                </div>
                <ul class="nav-right">
                    <li class="nav-right-list-items">
                        <a class="nav-right-list-item" href="https://github.com/SubhamChoudhury/instantUI">Docs</a>
                    </li>
                    <li class="nav-right-list-items">
                        <a class="nav-right-list-item" href="https://github.com/SubhamChoudhury"><img
                                src="../../assets/GitHub.svg" /></a>
                    </li>
                </ul>
            </nav>
        </header>
        <aside class="sidebar close">
            <header class='menu-header'>
                <i class="fas fa-chevron-circle-right toggle"></i>
                <div class="text component-text">
                    <span class="sidebar-menu-name">How to use?</span>
                </div>
                <div class="menu-bar">
                    <div class="menu">
                        <ul class="menu-links">
                            <li class="sidebar-link">
                                <a class="sidebar-link-item" href="/getting started/introduction.html">
                                    <i class="fas fa-question-circle icon"></i>
                                    <span class="text nav-text">Installation</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text component-text">
                    <span class="sidebar-menu-name">Components</span>
                </div>
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="sidebar-link ">
                            <a class="sidebar-link-item" href="../alert/alert.html">
                                <i class="fas fa-exclamation-triangle icon "></i>
                                <span class="text nav-text">Alert</span>
                            </a>
                        </li>
                        <li class="sidebar-link ">
                            <a class="sidebar-link-item" href="../avatar/avatar.html">
                                <i class="fas fa-user-astronaut icon "></i>
                                <span class="text nav-text ">Avatar</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../badges/badges.html">
                                <i class="fas fa-id-badge icon"></i>
                                <span class="text nav-text">Badge</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../button/button.html">
                                <i class="fas fa-mouse icon"></i>
                                <span class="text nav-text">Button</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../card/card.html">
                                <i class="fas fa-address-card icon"></i>
                                <span class="text nav-text">Card</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="/components/grid/grid.html">
                                <i class="fas fa-border-all icon"></i>
                                <span class="text nav-text">Grid</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../image/image.html">
                                <i class="far fa-image icon"></i>
                                <span class="text nav-text ">Image</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../input/input.html">
                                <i class="fas fa-keyboard icon"></i>
                                <span class="text nav-text">Input</span>
                            </a>
                        </li>
                        <li class="sidebar-link ">
                            <a class="sidebar-link-item" href="../list/list.html">
                                <i class="far fa-list-alt icon"></i>
                                <span class="text nav-text ">List</span>
                            </a>
                        </li>
                        <li class="sidebar-link ">
                            <a class="sidebar-link-item" href="/components/navigation/navigation.html">
                                <i class="fas fa-compass icon"></i>
                                <span class="text nav-text">Navigation</span>
                            </a>
                        </li>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../rating/rating.html">
                                <i class="fas fa-star icon"></i>
                                <span class="text nav-text">Rating</span>
                            </a>
                        </li>
                        <li class="sidebar-link">
                            <a class="sidebar-link-item" href="../slider/slider.html">
                                <i class="fas fa-sliders-h icon"></i>
                                <span class="text nav-text">Slider</span>
                            </a>
                        </li>
                        <li class="sidebar-link active">
                            <a class="sidebar-link-item" href="./snackbar.html">
                                <i class="fas fa-flag icon active"></i>
                                <span class="text nav-text active-text">Snackbar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <main>
            <!--Slider component starts-->
            <section class="home">
                <div class="doc-content">
                    <div class="content-title">
                        Snackbar
                    </div>
                    <div class="content-subtitle">
                        Snackbar is a component that displays a short message at the bottom of the screen.
                    </div>
                    <div class="content-subhead">
                        Baseline
                    </div>
                    <div class="content-subtitle">
                        Baseline is the most basic variant of snackbar.
                        <div class="info">Click on the button below to try! (Copy both HTML and JS code below)</div>
                    </div>
                    <div class="component-container">
                        <button class="base-btn  btn-info snackbar-btn">Baseline</button>
                        <div class="snackbar snackbar-baseline">
                            <p class="snackbar-message">
                                Can't send photo. Retry in 5 seconds.
                            </p>
                        </div>
                    </div>
                    <div class="content-subtitle">
                        HTML Code
                    </div>
                    <div class="iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=16px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522base-btn%2520%2520btn-info%2520snackbar-btn%2522%253EBaseline%253C%252Fbutton%253E%250A%253Cdiv%2520class%253D%2522snackbar%2520snackbar-baseline%2522%253E%250A%2520%2520%253Cp%2520class%253D%2522snackbar-message%2522%253E%250A%2520%2520%2520%2520Can%27t%2520send%2520photo.%2520Retry%2520in%25205%2520seconds.%250A%2520%2520%253C%252Fp%253E%250A%253C%252Fdiv%253E"
                            style="width: 100%; height: 230px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                    <div class="content-subtitle">
                        Javascript Code
                    </div>
                    <div class="iframe">
                        <iframe
                            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=sharp&l=javascript&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=16px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=const%2520baseline%2520%253D%2520document.querySelector%28%2522.snackbar-btn%2522%29%253B%250Aconst%2520baselineContent%2520%253D%2520document.querySelector%28%2522.snackbar-baseline%2522%29%253B%250Aconst%2520hideToast%2520%253D%2520%28%29%2520%253D%253E%2520%28baselineContent.style.visibility%2520%253D%2520%2522hidden%2522%29%253B%250Abaseline.addEventListener%28%2522click%2522%252C%2520%28%29%2520%253D%253E%2520%257B%250A%2520%2520%2520%2520baselineContent.style.visibility%2520%253D%2520%2522visible%2522%253B%250A%2520%2520%2520%2520setTimeout%28hideToast%252C%25203000%29%253B%250A%257D%29%253B"
                            style="width: 100%; height: 270px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                </div>
            </section>
        </main>
        <script>
            const body = document.querySelector('body'),
                sidebar = document.querySelector('aside'),
                toggle = document.querySelector(".toggle"),
                activeIcon = document.querySelector(".icon")
            toggle.addEventListener("click", () => {
                sidebar.classList.toggle("close");
            })
        </script>
        <script src="./snackbar.js"></script>
</body>

</html>